body{
    font-family: "Nunito Sans", sans-serif;
    width: 100%;
    /*max-width: 1160px;*/
    background-color: white;
    color: #1A1F35;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.padding-bottom-div {
    padding-bottom: 0.8rem;
}

.padding-bottom-label {
    padding-bottom: 0.3rem;

}

.description {
    margin-top: 0.8rem;
}

.margin-plant-description {
    margin: 1rem 0;
    font-size: 0.8rem;
    font-weight: 700;
}

.plant-name {
    font-size: 1rem;
    font-weight: 700;
    margin: 0.5rem 0;
}

.button {
    width: 100%;
    background-color: #25867E !important;
    color: #FEFEFE !important;
    border: none !important;
    padding: 0.6rem 0 !important;
    font-weight: 700;
    margin-top: 0.5rem !important;
    box-shadow: 0 9px #bcbbbb !important;
}

.button:hover {
    cursor: pointer;
}

.button:active {
    box-shadow: 0 5px #eae9e9 !important;
    transform: translateY(4px);

}

.form-wrapper{
    background-color: white;
    width: 30rem;
    margin: 0 auto;
    border: none;
    border-radius: 10px 10px 5px 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-top: 0.4rem;
}

.form-header {
    background-color: #25867E;
    padding: 2px 1px;
    width: 100%;
    margin-bottom: 0;
    border-radius: 10px 10px 0 0;
    text-align: center;
    color: #FEFEFE;
    font-size: 1.3rem;
}

.form-header h3 {
    font-weight: 500;
}

.form {
    margin: 0 auto;
    width: 80%;
    border: none;
    border-radius: 5px;
    background-color: white;
    padding: 2rem 0;
}

.form input {
    border: solid 1px #DFE1E4;
    border-radius: 5px;
    color: #000001;
    font-size: 0.7rem;
    padding: 0.3rem;
}

.form select {
    border-color: #DFE1E4;
    border-radius: 5px;
    color: #000001 ;
    font-size: 0.7rem;
    padding: 0.2rem;

}

.form label {
    font-size: 0.8rem;
    font-weight: 500;
    color: #000001;
}

/*plant section*/

.plant-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2rem 0;
}

.plant {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #DFE1E4;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin-top: 1.5rem;
}

.plant img{
    width: 100%;
    border: none;
    border-radius: 5px;
}

@media screen and (max-width: 630px){
.form-wrapper {
    width: 80%;

}
}




